fastapi==0.104.1
python-multipart==0.0.6
uvicorn==0.23.2
pillow==10.0.1
numpy==1.25.2
opencv-python-headless==4.8.1.78
pandas==2.1.1
tensorflow==2.13.0
torch==2.0.1
ultralytics==8.0.211
aiofiles==23.2.1
pydantic==2.4.2
